#hot-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: space-around;
    background-color: var(--tg-theme-secondary-bg-color, var(--bg-second-color));
    padding: 10px 0;
    display: none;
}

/* Стили для кнопок */
.hot-bar-button {
    text-align: center;
    flex: 1;
    padding: 4px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* Иконки кнопок */
.hot-bar-icon {
    width: 24px;
    height: 24px;
    fill: var(--tg-theme-link-color, var(--text-color));
    fill: var(--tg-theme-link-color, var(--text-color));
}