* {
	padding: 0;
	margin: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/*цвета*/
:root {
  --border-radius: 12px;
  --bg-second-color: #4C3A7D; /* второй фон для тёмной темы */
  --text-color: #E8D7FF; /* светлый текст для тёмной темы */
  --text-disabled-color: #A28CBA; /* тусклый текст для неактивных элементов */
  --button: #9B4DFF; /* яркая кнопка */
}

/* Стили для тёмной темы */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #1A1A1A; /* фон для тёмной темы */
    --text-color: #E8D7FF
  }
}

/* Стили для светлой темы */
@media (prefers-color-scheme: light) {
  :root {
    --text-color: #1A1A1A; /* фон для тёмной темы */
    --bg-color: #E8D7FF
  }
}
  

body {
	height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--tg-theme-bg-color, var(--bg-color));
  overflow: hidden;
}

h1{
	font-size: 64px;
	color: var(--text-disabled-color);
	position: absolute;
  left: 80px;
  top: 80px;
}
