.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
}

.overlay.show {
    opacity: 1;
    visibility: visible;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}
.overlay.close {
    opacity: 0;
    visibility: hidden;
    background: rgba(0, 0, 0, 0);
    z-index: -1;
}

.menu {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: var(--bg-menu);
    z-index: 1001;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease, transform 0.3s ease;
    overflow-y: auto; /* Добавляем вертикальную прокрутку */
    max-height: 80vh; /* Ограничиваем максимальную высоту меню */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
}

.menu header{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--bg-second-color);
}

.menu .menu-body{
    padding: 20px;

}

.menu.show {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    visibility: visible;
}

.menu.close {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    visibility: hidden;
}

.menu::-webkit-scrollbar {
    width: 8px;
    color: var(--bg-second-color);
}

header svg {
    width: 20px;
    height: 20px;
    padding: 12px 6px 12px 20px;
    stroke-width: 0.6px;
}


.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px; /* Ширина бокового меню */
    height: 100%;
    background-color: var(--bg-second-color);
    transition: opacity 0.3s ease, transform 0.3s ease;
    display: flex;
}

.sidebar.show {
    visibility: visible;
    transform: translateX(0);
    z-index: 100;
}

.sidebar.close{
    visibility: hidden;
    transform: translateX(100%);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0.3s;
}

.sidebar-right .design{
    border-radius: 0px 24px 24px 0px;
    box-shadow: 6px 0px 4px 0px rgba(0, 0, 0, 0.25);
}
.sidebar-right .design a{transform: rotate(90deg);}


.sidebar.sidebar-left {
    left: 0;
}
.sidebar-left .design{
    border-radius: 24px 0 0 24px;
    box-shadow: -6px 0px 4px 0px rgba(0, 0, 0, 0.25);
}
.sidebar-left .design a{transform: rotate(-90deg);}
.sidebar.show {transform: translateX(0);}

.sidebar-left.close{
    visibility: hidden;
    transform: translateX(-100%);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0.3s;
}

.sidebar-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0 20px 0;
}
.sidebar-body .button{width: auto;}

.sidebar-bottom{
    position: fixed;
    bottom: 0;
    top: unset;
    right: 0;
    width: 100%; /* Ширина бокового меню */
    height: 150px;
    background-color: var(--bg-second-color);
    z-index: 1002;
    transition: opacity 0.3s ease, transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-bottom .design{
    width: 100%;
    height: 40px;
    border-radius: 0px 0px 24px 24px;
    box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.25);
}
.sidebar-bottom .design a{transform: rotate(180deg);}

.sidebar-bottom.show {
    visibility: visible;
    transform: translateY(0);
}

.sidebar-bottom.close{
    visibility: hidden;
    transform: translateY(100%);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0.3s;
}

.sidebar-bottom .sidebar-body{
    width: auto;
    margin: 20px 0;
    height: 100%;
}
.sidebar-bottom .container{
    flex-direction: row;
    height: 100%;
}

.mood-link .emoji{
    padding: 0 10px;
    font-size: 32px;
    transition: 0.3s ease;;
}
.mood-link .emoji:hover{
    transform: scale(1.02);
    transform: translateY(-5px);
}

.design{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
}
.design a{display: flex; align-items: center; justify-content: center;}
.design a svg{
    width: 32px;
    height: 32px;
    fill: var(--button);
    stroke: var(--button);
    stroke-width: 0.3px;
    padding: 4px;
    transition: 300ms;
}

.design a svg:hover{
    stroke-width: 0.8px;
}


.mood-icons{
    display: flex;
    width: 100%;
}