<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main-styles.css?v=1.2">
    <link rel="stylesheet" href="/static/css/buttons-styles.css?v=1.2">
    <link rel="stylesheet" href="/static/css/hotbar-styles.css?v=1.2">
    <script src="/static/js/svg.js" defer></script>
    <title>Mood Jar</title>
</head>
<body class="display">
    <div id="hot-bar">
        <div class="hot-bar-button"><EnterSvg name="users" class="hot-bar-icon"></EnterSvg></div>
        <div class="hot-bar-button"><EnterSvg name="add" class="hot-bar-icon"></EnterSvg></div>
        <div class="hot-bar-button"><EnterSvg name="settings" class="hot-bar-icon"></EnterSvg></div>
    </div>
    <main>
        <h1 id="username">#mood-jar</h1>

        <div>
            <EnterSvg name="jar" class="jar"></EnterSvg>
        </div>

        <div class="button-side"><EnterSvg name="settings" class="text"></EnterSvg></div>
        <div class="button-side button-left"><EnterSvg name="users" class="text"></EnterSvg></div>
    </main>
</body>
</html>
