<!DOCTYPE html>
<html lang="ru">
<head>
    {% include 'page_modules/links.html' %}
    <title>Mood Jar</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>
<body class="display">
    <div id="hot-bar">
        <div class="hot-bar-button"><EnterSvg name="users" class="hot-bar-icon"></EnterSvg></div>
        <div class="hot-bar-button"><EnterSvg name="add" class="hot-bar-icon"></EnterSvg></div>
        <div class="hot-bar-button"><EnterSvg name="settings" class="hot-bar-icon"></EnterSvg></div>
    </div>
        <h1 id="username">#mood-jar</h1>
    <main>

        <div>
            <EnterSvg name="jar" class="jar"></EnterSvg>
        </div>

        <div class="button-side"><EnterSvg name="settings" class="text"></EnterSvg></div>
        <div class="button-side button-left"><EnterSvg name="users" class="text"></EnterSvg></div>
    </main>
</body>
</html>
