<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mood Jar</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    {% include 'modules/links.html' %}
</head>
<body>
    <div id="hot-bar">
        <div class="hot-bar-button">
            <div class="hot-bar-icon">🏠</div>
            <span>Главная</span>
        </div>
        <div class="hot-bar-button">
            <div class="hot-bar-icon">🔍</div>
            <span>Поиск</span>
        </div>
        <div class="hot-bar-button">
            <div class="hot-bar-icon">➕</div>
            <span>Добавить</span>
        </div>
        <div class="hot-bar-button">
            <div class="hot-bar-icon">⚙️</div>
            <span>Настройки</span>
        </div>
    </div>
</body>
</html>